{% extends "recados/base.html" %}

{% block titulo %}Meus Recados{% endblock %}

{% block conteudo %}
    <h1>Meus Recados</h1>

    <a class="botao" href="{% url 'novo_recado' %}">Escrever novo recado</a>

    {% if recados %}
        {% for recado in recados %}
            <div class="recado">
                <p>{{ recado.mensagem }}</p>
                <p class="data">{{ recado.criado_em }}</p>
                <div class="acoes">
                    <a class="link-detalhes" href="{% url 'detalhes_recado' recado.id %}">Ver detalhes</a>
                    <a class="link-editar" href="{% url 'editar_recado' recado.id %}">Editar</a>
                    <a class="link-excluir" href="{% url 'excluir_recado' recado.id %}">Excluir</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="vazio">Você ainda não publicou nenhum recado.</p>
    {% endif %}
{% endblock %}
