SECRET_KEY=uma-chave-secreta-longa-qualquer
DEBUG=True
DATABASE_URL=postgresql://neondb_owner:npg_zxOG8tiM2mUh@ep-young-dew-ac73q2pw-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require